*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 246, 246);
}

/* HEADER */

header{
    background-color: white;
}

h1{
    display: inline-block;
    font-size: 45px;
}

img, h1{
    vertical-align: middle;
    padding: 10px 0 10px 20px
}

/* MAIN - BUTTONS*/

.container{
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

button{
    padding: 8px 15px;
    border-radius: 7%;
}

.task{
    background-color: rgb(59, 151, 255);
    color: white;
    border: 1px solid rgb(59, 151, 255);
    margin: 20px 0 10px 50px;
}

.section{
    background-color: white;
    color: gray;
    border: 1px solid gray;
    margin: 20px 0 10px 3px;
}

hr{
    height: 2.5px;
    background-color: rgb(246, 246, 246);
    border-width: 0;
}

/* MAIN - LIST */

.list{
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
}

ul{
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
}

li{
    margin: 5px 0;
}

li:last-child {
    margin-bottom: 20px;
}

.main-point {
    font-size: 24px;
    font-weight: bold;
}

.tag, .bullet{
    display: inline-block;
}

.bullet{
    height: 22px;
    width: 22px;
    border: 1px solid;
    border-radius: 50%;
    padding-left: 3px;
}

.check{
    color: rgb(0, 187, 0);
}

.cross{
    color: red
}

span{
    margin-left: 5px;
}

.tag{
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
}

.editorial{
    background-color: rgb(59, 151, 255);
}

.goals{
    background-color: rgb(197, 2, 197);
}

.recruiting{
    background-color: rgb(77, 198, 77);
}

.mobile{
    background-color: orange;
}

.general{
    background-color: white;
}

.website{
    background-color: rgb(255, 56, 149);
}

.sales{
    background-color: yellowgreen;
}