*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* HEADER */

header{
    background-color: white;
}

h1{
    display: inline;
}

img, h1{
    vertical-align: middle;
    padding: 10px 0 10px 20px
}

/* MAIN - BUTTONS*/

.container{
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

button{
    padding: 10px;
    margin: 20px 0 10px 50px;
    border-radius: 7%;
}

.task{
    background-color: blue;
    color: white;
    border-color: blue;
}

.section{
    color: gray;
    border-color: gray;
}

/* MAIN - LIST */

.list{
    margin-top: 50px;
    margin-left: 50px;
}

ul{
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
}

.main-point {
    font-size: 24px;
    font-weight: bold;
}

.tag, .bullet{
    display: inline-block;
}

.bullet{
    height: 20px;
    width: 20px;
    border: 0.5px solid;
    border-radius: 50%;
    padding-left: 3px;
}

.check{
    color: green;
}

.cross{
    color: red
}

