*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* HEADER */

header{
    background-color: white;
}

h1{
    display: inline;
}

img, h1{
    vertical-align: middle;
    padding: 10px 0 10px 20px
}

/* MAIN */

.container{
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

button{
    padding: 10px;
    margin: 20px 0 10px 50px;
    border-radius: 7%;
}

.task{
    background-color: blue;
    color: white;
    border-color: blue;
}

.section{
    color: gray;
    border-color: gray;
}